Node-red/Light_triggers
[{"id":"0f305a3c663c7b4a","type":"subflow","name":"Global Sensor Classifier","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"c4666cf39c3df71b"},{"id":"061bb899e0ccdb9a"},{"id":"ea683f7a5071f692"}]}],"out":[],"env":[{"name":"room_mode","type":"str","value":"input_select.XXX_mode"},{"name":"light_state","type":"str","value":"input_boolean.XXX_light_state"}],"meta":{},"color":"#DDAA99","status":{"x":300,"y":320,"wires":[{"id":"f40719d5b8138578","port":0}]}},{"id":"2cea99864a55d7fd","type":"function","z":"0f305a3c663c7b4a","name":"Sensors State Classifier","func":"// Get the payload from the message and define allowed list\nconst state = msg.payload[0];\nconst master = msg.payload[1];\nconst room = msg.payload[2];\nconst allowed = ['Daytime', 'Evening', 'Night', 'Social'];\n\nif (allowed.includes(master)) {\n    if (room === 'Sync'){\n        node.status({ fill: \"green\", shape: \"dot\", text: 'Sensors Enabled' });\n        msg.payload = state;\n        if (state === 'on'){\n            return [msg, null];\n        }\n        else {\n            return [null, msg];\n        }\n    }\n}\nelse { \n    msg.payload = 'Sensors Disabled';\n    node.status({ fill: \"orange\", shape: \"dot\", text: msg.payload });\n    return [null, null];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":120,"wires":[["dc1789192a539382"],["9fd4e33d69eaed13"]],"outputLabels":["on","off"]},{"id":"ea683f7a5071f692","type":"join","z":"0f305a3c663c7b4a","name":"Mode Array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":" - ","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":500,"y":120,"wires":[["2cea99864a55d7fd"]]},{"id":"c4666cf39c3df71b","type":"api-current-state","z":"0f305a3c663c7b4a","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":80,"wires":[["ea683f7a5071f692"]]},{"id":"061bb899e0ccdb9a","type":"delay","z":"0f305a3c663c7b4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":195,"y":160,"wires":[["85feb039d376d88e"]],"l":false},{"id":"85feb039d376d88e","type":"api-current-state","z":"0f305a3c663c7b4a","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"${room_mode}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":160,"wires":[["ea683f7a5071f692"]]},{"id":"9fd4e33d69eaed13","type":"api-call-service","z":"0f305a3c663c7b4a","name":"Turn Light Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["${light_state}"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1000,"y":160,"wires":[[]]},{"id":"dc1789192a539382","type":"api-call-service","z":"0f305a3c663c7b4a","name":"Turn Light On","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["${light_state}"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1000,"y":80,"wires":[[]]},{"id":"f40719d5b8138578","type":"status","z":"0f305a3c663c7b4a","name":"","scope":null,"x":80,"y":320,"wires":[[]]},{"id":"a4788710c0e99e9d","type":"comment","z":"0f305a3c663c7b4a","name":"Add here also light level in the way","info":"","x":1060,"y":120,"wires":[]},{"id":"5f729c2dcbf86ae8","type":"catch","z":"0f305a3c663c7b4a","name":"","scope":null,"uncaught":false,"x":80,"y":380,"wires":[["7cc80d4d90a09065"]]},{"id":"7cc80d4d90a09065","type":"debug","z":"0f305a3c663c7b4a","name":"Sensor Classifier Bugs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":380,"wires":[]},{"id":"subflow1","type":"subflow","name":"Global Switch Handler","info":"","category":"","in":[{"x":80,"y":180,"wires":[{"id":"be0a4d78ebeea50c"},{"id":"b35bc1e98eaac839"}]}],"out":[],"env":[{"name":"light_state","type":"str","value":"input_boolean.XXX_light_state"},{"name":"room_mode","type":"str","value":"input_select.XXX_mode_sync"}],"meta":{},"color":"#DDAA99","status":{"x":260,"y":300,"wires":[{"id":"b2ee4ee328124b9a","port":0}]}},{"id":"b2ee4ee328124b9a","type":"status","z":"subflow1","name":"","scope":null,"x":120,"y":300,"wires":[[]]},{"id":"be0a4d78ebeea50c","type":"switch","z":"subflow1","name":"Wall Switch Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"button_1_single","vt":"str"},{"t":"eq","v":"button_2_single","vt":"str"},{"t":"eq","v":"button_1_double","vt":"str"},{"t":"eq","v":"button_2_double","vt":"str"},{"t":"eq","v":"button_1_triple","vt":"str"},{"t":"eq","v":"button_2_triple","vt":"str"},{"t":"eq","v":"button_1_hold","vt":"str"},{"t":"eq","v":"button_2_hold","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":230,"y":180,"wires":[["cdada06324b3034c"],["2b16716b591635cc"],["6202240ab0b37edb"],["6202240ab0b37edb"],["4bca6014648b4dd3"],[],[],[]]},{"id":"d32dde6bb2b1ce74","type":"api-current-state","z":"subflow1","name":"Light Status","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"${light_state}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":120,"wires":[["0751b0e5e39c3805"],["1ef27f3c248e522b"]]},{"id":"cfd643d5f21a741e","type":"api-call-service","z":"subflow1","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["${room_mode}"],"labelId":[],"data":"{\"option\": \"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":780,"y":180,"wires":[[]]},{"id":"6202240ab0b37edb","type":"api-call-service","z":"subflow1","name":"Set Basic","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["${room_mode}"],"labelId":[],"data":"{\"option\":\"Basic\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":540,"y":240,"wires":[[]]},{"id":"0751b0e5e39c3805","type":"api-call-service","z":"subflow1","name":"Turn Light Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["${light_state}"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1160,"y":80,"wires":[[]]},{"id":"1ef27f3c248e522b","type":"api-call-service","z":"subflow1","name":"Turn Light On","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["${light_state}"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1160,"y":160,"wires":[[]]},{"id":"4bca6014648b4dd3","type":"api-call-service","z":"subflow1","name":"Set Master Basic","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.master_mode"],"labelId":[],"data":"{\"option\": \"Basic\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":570,"y":300,"wires":[[]]},{"id":"b35bc1e98eaac839","type":"api-current-state","z":"subflow1","name":"If sleep","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"Sleep","halt_if_type":"str","halt_if_compare":"is","entity_id":"${room_mode}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":80,"wires":[["b72c52bb50bf7b2a"],[]]},{"id":"b72c52bb50bf7b2a","type":"api-call-service","z":"subflow1","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["${room_mode}"],"labelId":[],"data":"{\"option\": \"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":340,"y":80,"wires":[[]]},{"id":"cdada06324b3034c","type":"api-current-state","z":"subflow1","name":"if sync","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"Sync","halt_if_type":"str","halt_if_compare":"is","entity_id":"${room_mode}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":120,"wires":[["d32dde6bb2b1ce74"],["cfd643d5f21a741e"]]},{"id":"2bfc49422060227d","type":"api-call-service","z":"subflow1","name":"Set Basic","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["${room_mode}"],"labelId":[],"data":"{\"option\": \"Basic\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":780,"y":240,"wires":[[]]},{"id":"2b16716b591635cc","type":"api-current-state","z":"subflow1","name":"if basic","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"Basic","halt_if_type":"str","halt_if_compare":"is","entity_id":"${room_mode}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":180,"wires":[["d32dde6bb2b1ce74"],["2bfc49422060227d"]]},{"id":"9a7bc79b734e8024","type":"tab","label":"Light Triggers","disabled":false,"info":"V3","env":[]},{"id":"2e064d6db44cbad1","type":"group","z":"9a7bc79b734e8024","name":"Living Room","style":{"fill":"#e3f3d3","label":true},"nodes":["44a9f15255dc1858","741224068e4bec45","221ea7510dde6291","88a4ce03ed66fe5f","d6038e9226b96ef7","d5876979bee63ec6"],"x":34,"y":119,"w":532,"h":302},{"id":"14a01e352ad751ab","type":"group","z":"9a7bc79b734e8024","name":"Kitchen","style":{"fill":"#e3f3d3","label":true},"nodes":["c239b4fb1705a21a","0cb47bedc00131df","1e473af5913791a0","44d6b1f7a245d278","1df270b8954eba69"],"x":34,"y":439,"w":532,"h":302},{"id":"f954d4d5584a088b","type":"group","z":"9a7bc79b734e8024","name":"Office","style":{"fill":"#e3f3d3","label":true},"nodes":["37745b795e491ddb","1f3d8f74d89fe072","ac79cf8cad6bc8a7","8a3b94257d0b128f","25905abeba76668f","1fc98772e838de99"],"x":34,"y":759,"w":532,"h":302},{"id":"a45021b70808c066","type":"group","z":"9a7bc79b734e8024","name":"Bedroom","style":{"fill":"#e3f3d3","label":true},"nodes":["5c4177382481d55a","28af50c078aefc8b","29253ba263b21f53","7e8fd701bcab5cc0","24b59cbabd619b6e","a7301ab56b6d9560"],"x":594,"y":119,"w":532,"h":302},{"id":"dd16a97126bbaa35","type":"group","z":"9a7bc79b734e8024","name":"Bathroom","style":{"fill":"#e3f3d3","label":true},"nodes":["c4a3cc318296926e","dcc0b9097cc8ad91","3eb4d9bec39db89b","16125039d2d2fb4d"],"x":594,"y":439,"w":532,"h":202},{"id":"fe95f2b9b838ba87","type":"group","z":"9a7bc79b734e8024","name":"Toilet","style":{"fill":"#e3f3d3","label":true},"nodes":["4efa4f35049ef7a8","7696c07b0db5dd4e","057a76a1666ef680","43890940f7568725"],"x":594,"y":659,"w":532,"h":202},{"id":"9092d1cc96df459e","type":"group","z":"9a7bc79b734e8024","name":"Bathroom Wall Switch","style":{"fill":"#e3f3d3","label":true},"nodes":["ee62a070820656b9","0e74384cec49d303","217968632c5c891d","46ae9f2bfa0970c6","e310e9060da9e167","9ebad2ac7ffc3029","06f0305440759186"],"x":1154,"y":119,"w":792,"h":182},{"id":"44a9f15255dc1858","type":"server-state-changed","z":"9a7bc79b734e8024","g":"2e064d6db44cbad1","name":"Cleared","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.living_room_group_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":160,"wires":[["d6038e9226b96ef7"],[]]},{"id":"741224068e4bec45","type":"server-state-changed","z":"9a7bc79b734e8024","g":"2e064d6db44cbad1","name":"Presence Detected","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.living_room_group_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":300,"wires":[["d6038e9226b96ef7"],[]]},{"id":"221ea7510dde6291","type":"server-state-changed","z":"9a7bc79b734e8024","g":"2e064d6db44cbad1","name":"Wall Switch","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.living_room_wall_switch_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":380,"wires":[["88a4ce03ed66fe5f"]]},{"id":"88a4ce03ed66fe5f","type":"subflow:subflow1","z":"9a7bc79b734e8024","g":"2e064d6db44cbad1","name":"","env":[{"name":"light_state","value":"input_boolean.living_room_light_state","type":"str"},{"name":"room_mode","value":"input_select.living_room_mode","type":"str"},{"name":"room","value":"office","type":"str"}],"x":420,"y":380,"wires":[]},{"id":"c239b4fb1705a21a","type":"server-state-changed","z":"9a7bc79b734e8024","g":"14a01e352ad751ab","name":"Cleared","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.kitchen_presence_sensor_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":480,"wires":[["1df270b8954eba69"],[]]},{"id":"0cb47bedc00131df","type":"server-state-changed","z":"9a7bc79b734e8024","g":"14a01e352ad751ab","name":"Presence Detected","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.kitchen_presence_sensor_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":560,"wires":[["1df270b8954eba69"],[]]},{"id":"1e473af5913791a0","type":"server-state-changed","z":"9a7bc79b734e8024","g":"14a01e352ad751ab","name":"Wall Switch","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.kitchen_wall_switch_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":700,"wires":[["44d6b1f7a245d278"]]},{"id":"44d6b1f7a245d278","type":"subflow:subflow1","z":"9a7bc79b734e8024","g":"14a01e352ad751ab","name":"","env":[{"name":"light_state","value":"input_boolean.kitchen_light_state","type":"str"},{"name":"room_mode","value":"input_select.kitchen_mode","type":"str"},{"name":"room","value":"office","type":"str"}],"x":420,"y":700,"wires":[]},{"id":"1df270b8954eba69","type":"subflow:0f305a3c663c7b4a","z":"9a7bc79b734e8024","g":"14a01e352ad751ab","name":"","env":[{"name":"room_mode","value":"input_select.kitchen_mode","type":"str"},{"name":"light_state","value":"input_boolean.kitchen_light_state","type":"str"}],"x":430,"y":520,"wires":[]},{"id":"d6038e9226b96ef7","type":"subflow:0f305a3c663c7b4a","z":"9a7bc79b734e8024","g":"2e064d6db44cbad1","name":"","env":[{"name":"room_mode","value":"input_select.living_room_mode","type":"str"},{"name":"light_state","value":"input_boolean.living_room_light_state","type":"str"}],"x":430,"y":200,"wires":[]},{"id":"37745b795e491ddb","type":"server-state-changed","z":"9a7bc79b734e8024","g":"f954d4d5584a088b","name":"Cleared","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.office_motion_sensor_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":800,"wires":[["25905abeba76668f"],[]]},{"id":"1f3d8f74d89fe072","type":"server-state-changed","z":"9a7bc79b734e8024","g":"f954d4d5584a088b","name":"Presence Detected","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.office_motion_sensor_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":940,"wires":[["25905abeba76668f"],[]]},{"id":"ac79cf8cad6bc8a7","type":"server-state-changed","z":"9a7bc79b734e8024","g":"f954d4d5584a088b","name":"Wall Switch","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.office_wall_switch_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1020,"wires":[["8a3b94257d0b128f"]]},{"id":"8a3b94257d0b128f","type":"subflow:subflow1","z":"9a7bc79b734e8024","g":"f954d4d5584a088b","name":"","env":[{"name":"light_state","value":"input_boolean.office_light_state","type":"str"},{"name":"room_mode","value":"input_select.office_mode","type":"str"},{"name":"room","value":"office","type":"str"}],"x":420,"y":1020,"wires":[]},{"id":"25905abeba76668f","type":"subflow:0f305a3c663c7b4a","z":"9a7bc79b734e8024","g":"f954d4d5584a088b","name":"","env":[{"name":"room_mode","value":"input_select.office_mode","type":"str"},{"name":"light_state","value":"input_boolean.office_light_state","type":"str"}],"x":430,"y":840,"wires":[]},{"id":"5c4177382481d55a","type":"server-state-changed","z":"9a7bc79b734e8024","g":"a45021b70808c066","name":"Cleared","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bedroom_presence_sensor_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":670,"y":160,"wires":[["24b59cbabd619b6e"],[]]},{"id":"28af50c078aefc8b","type":"server-state-changed","z":"9a7bc79b734e8024","g":"a45021b70808c066","name":"Presence Detected","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bedroom_presence_sensor_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":710,"y":280,"wires":[["24b59cbabd619b6e"],[]]},{"id":"29253ba263b21f53","type":"server-state-changed","z":"9a7bc79b734e8024","g":"a45021b70808c066","name":"Wall Switch","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.bedroom_wall_switch_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":690,"y":380,"wires":[["7e8fd701bcab5cc0"]]},{"id":"7e8fd701bcab5cc0","type":"subflow:subflow1","z":"9a7bc79b734e8024","g":"a45021b70808c066","name":"","env":[{"name":"light_state","value":"input_boolean.bedroom_light_state","type":"str"},{"name":"room_mode","value":"input_select.bedroom_mode","type":"str"},{"name":"room","value":"office","type":"str"}],"x":980,"y":380,"wires":[]},{"id":"24b59cbabd619b6e","type":"subflow:0f305a3c663c7b4a","z":"9a7bc79b734e8024","g":"a45021b70808c066","name":"","env":[{"name":"room_mode","value":"input_select.bedroom_mode","type":"str"},{"name":"light_state","value":"input_boolean.bedroom_light_state","type":"str"}],"x":990,"y":200,"wires":[]},{"id":"d5876979bee63ec6","type":"server-state-changed","z":"9a7bc79b734e8024","g":"2e064d6db44cbad1","name":"Door Open","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.entrance_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":240,"wires":[["d6038e9226b96ef7"],[]]},{"id":"a7301ab56b6d9560","type":"server-state-changed","z":"9a7bc79b734e8024","g":"a45021b70808c066","name":"Door Open","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bedroom_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":680,"y":220,"wires":[["24b59cbabd619b6e"],[]]},{"id":"c4a3cc318296926e","type":"server-state-changed","z":"9a7bc79b734e8024","g":"dd16a97126bbaa35","name":"Cleared","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bathroom_presence_sensor_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":670,"y":480,"wires":[["3eb4d9bec39db89b"],[]]},{"id":"dcc0b9097cc8ad91","type":"server-state-changed","z":"9a7bc79b734e8024","g":"dd16a97126bbaa35","name":"Presence Detected","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bathroom_presence_sensor_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":710,"y":600,"wires":[["3eb4d9bec39db89b"],[]]},{"id":"3eb4d9bec39db89b","type":"subflow:0f305a3c663c7b4a","z":"9a7bc79b734e8024","g":"dd16a97126bbaa35","name":"","env":[{"name":"room_mode","value":"input_select.bathroom_mode","type":"str"},{"name":"light_state","value":"input_boolean.bathroom_light_state","type":"str"}],"x":990,"y":520,"wires":[]},{"id":"16125039d2d2fb4d","type":"server-state-changed","z":"9a7bc79b734e8024","g":"dd16a97126bbaa35","name":"Door Open","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bathroom_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":680,"y":540,"wires":[["3eb4d9bec39db89b"],[]]},{"id":"4efa4f35049ef7a8","type":"server-state-changed","z":"9a7bc79b734e8024","g":"fe95f2b9b838ba87","name":"Cleared","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.toilet_presence_sensor_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":670,"y":700,"wires":[["057a76a1666ef680"],[]]},{"id":"7696c07b0db5dd4e","type":"server-state-changed","z":"9a7bc79b734e8024","g":"fe95f2b9b838ba87","name":"Presence Detected","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.toilet_presence_sensor_presence"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":710,"y":820,"wires":[["057a76a1666ef680"],[]]},{"id":"057a76a1666ef680","type":"subflow:0f305a3c663c7b4a","z":"9a7bc79b734e8024","g":"fe95f2b9b838ba87","name":"","env":[{"name":"room_mode","value":"input_select.bathroom_mode","type":"str"},{"name":"light_state","value":"input_boolean.toilet_light_state","type":"str"}],"x":990,"y":740,"wires":[]},{"id":"43890940f7568725","type":"server-state-changed","z":"9a7bc79b734e8024","g":"fe95f2b9b838ba87","name":"Door Open","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.toilet_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":680,"y":760,"wires":[["057a76a1666ef680"],[]]},{"id":"ee62a070820656b9","type":"server-state-changed","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Wall Switch","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.bathroom_wall_switch_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1250,"y":180,"wires":[["0e74384cec49d303"]]},{"id":"0e74384cec49d303","type":"switch","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Wall Switch Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1430,"y":180,"wires":[["217968632c5c891d"],["e310e9060da9e167"],["46ae9f2bfa0970c6"]]},{"id":"217968632c5c891d","type":"api-current-state","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Light Status","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bathroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1630,"y":180,"wires":[["9ebad2ac7ffc3029"],["06f0305440759186"]]},{"id":"46ae9f2bfa0970c6","type":"api-call-service","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.bathroom_mode"],"labelId":[],"data":"{\"option\": \"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1400,"y":260,"wires":[[]]},{"id":"e310e9060da9e167","type":"api-call-service","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Set Basic","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.bathroom_mode"],"labelId":[],"data":"{\"option\":\"Basic\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1560,"y":260,"wires":[[]]},{"id":"9ebad2ac7ffc3029","type":"api-call-service","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Turn Light Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.bathroom_light_state","input_boolean.toilet_light_state"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1840,"y":160,"wires":[[]]},{"id":"06f0305440759186","type":"api-call-service","z":"9a7bc79b734e8024","g":"9092d1cc96df459e","name":"Turn Light On","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.bathroom_light_state","input_boolean.toilet_light_state"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1840,"y":220,"wires":[[]]},{"id":"fdc0665b0530c7bf","type":"catch","z":"9a7bc79b734e8024","name":"","scope":null,"uncaught":false,"x":440,"y":40,"wires":[["db8a84684c4d92a9"]]},{"id":"db8a84684c4d92a9","type":"debug","z":"9a7bc79b734e8024","name":"Light Triggers Errors","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":640,"y":40,"wires":[]},{"id":"61c8c7c9810cb66a","type":"status","z":"9a7bc79b734e8024","name":"","scope":null,"x":100,"y":40,"wires":[["761f249aa971f3cd"]]},{"id":"761f249aa971f3cd","type":"file","z":"9a7bc79b734e8024","name":"node_log.log","filename":"/root/homeassistant/node_red_files/","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":270,"y":40,"wires":[[]]},{"id":"5646b7913e5ca08b","type":"inject","z":"9a7bc79b734e8024","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["761f249aa971f3cd"]]},{"id":"1fc98772e838de99","type":"server-state-changed","z":"9a7bc79b734e8024","g":"f954d4d5584a088b","name":"Door Open","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.office_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":880,"wires":[["25905abeba76668f"],[]]},{"id":"dadbe65d.661898","type":"server","name":"Home Assistant","addon":true}]
