Node-red/Light_setting
[{"id":"c545265afe591227","type":"tab","label":"Light Settings","disabled":false,"info":"V3","env":[]},{"id":"42601b4a9b62e800","type":"group","z":"c545265afe591227","name":"Living Room","style":{"fill":"#ffefbf","label":true},"nodes":["8b834af5f5ced345","83b996cdcfbf7a73","62b68ac505d5d753","9f3f8d38d5fbe632","e1fac3f6cf857b77","7043cd8703302d10","062fad71fa2efcce","72ef0fb047d310af","56a0a55a9ac1f64b","14dc9b67b6ec95d1","bf41d3e464800a13","a1a7b0b0d9307323","724ec6a6f343149d","15f9dd5e7464016d","52645a07d4de3a4c","a8c0e4e454e6435a","8839a6db48773d86","903fc3bc0c53a970","daca3109528ee5fe","f93976c2419cd48f","72e7e320a71eb1c3","55a7208bdee4ecb3","b70cc11af22870e1","823ef2f305d6037b","812ebb3dc168516b","f8dde26e55e00bc2","c0713225173b05f2","3517d7be63a8a153","54b52fa7068154a4","b75aa9b5d377a3bd","e7ef7e92912d1e8d","6d6f6af3171bbfdb","08ef8a8fc1ebb399","c36e08d3a09ba487","a2d163372d45a99e","a8f30cf56f4cd0b5","dfe14a5e8ed80249","2a1ca26c5562d593","5a191f6140fffee2","657429d5ce7d3805","9e9707b42acdc2c9","383a710cc1a96c15","cdeb1888029ccdc6","0b96dd8b8212a8ce","60fb4c4f4e227eee","25dea0e9115e1d7e","2cb777d52106521c","23c7aee2c90ebe9b","3653ebb87aa8d139","830579e2c159e7fb","8d4ed144e33516f9","ddbdcc2aab2dbdaa","af46c0f3846b2bd6","fe52416934fdedc3","fbc17c3ba0c34b0c","983cd9c4a3303205","60f4defcc9f30190","5311fe28e3223a3e","dd63800bda0f6312","65f79ca7e6750aad","b1e9d9e15a4a3a70","2a2ae9f40db3129e","810a31b9ac98a947","40f92dcb129aa6d7"],"x":14,"y":79,"w":1552,"h":1482},{"id":"b4e037ae351379db","type":"group","z":"c545265afe591227","name":"Office","style":{"fill":"#ffefbf","label":true},"nodes":["86aafcd7c2ac0175","eed915db15a0a058","858171547462f9d5","0a8afd71c0f87979","9ad9068764cc7921","32310c9bda919102","afa3f4ccc5e29545","554e43979f606aa9","a5afb9c0c00b9d9c","fa8f2cf83deb724e","6d87708bec12ea15","beaedd1e851f1c5c","0d97d7dcc65d86c7","6a089b2695889750","62dc8ac081f7d251","ba91db026f3fdd6a","bcc114c59e54f6d2","d5276084bedf8508","b2fb924d6a482748","5cfdd795e0efb596","dc0a168ec0834290","64a5292dfb5baf02","bd498647bae45711","2b42e3ba7f9d4b25","19c7c35274ee9a10","2032b5f34608d507","74cca055cf157e1a","8e229424611d01b8","47c6c87ec19ab497","ccb0f81d91e4b672","b0705131f8d45f38","d80e409526cb72ee","feb9c596e1280508","9d027bb674c162d0","93411c21f907cbad","2616b965bd8c9396","98babed7b3db5b0a","452e4955576737e0"],"x":14,"y":1639,"w":1672,"h":1182},{"id":"967ed8c311f41c6e","type":"group","z":"c545265afe591227","name":"Kitchen","style":{"fill":"#ffefbf","label":true},"nodes":["8532af5b296c5766","bab285fc00a268f5","fde4f964cee02321","51ebeb24a40d37da","c0ca8cf8552d7b2a","a25c1bf8a0bfeb7a","e6552d1f33cbcba9","478ddf6b45c2531b","b2372cf004c32a0b","bd66c43a2940aac4","a879ed74392c65db","bea0b077fadb4c2c","4a0bc38e81f16dab","6ce12a1f514b6be3","2555abafa0d73998","1c222c014b31e6ed","d0d353a472f16971","3520bf82ac1c4262","53c808ef63e8ede7","a67f676fd1ceef6d","97a505af59fd26ce","3fec64cb368339ed"],"x":14,"y":2859,"w":1132,"h":862},{"id":"984aa062e38adb74","type":"group","z":"c545265afe591227","name":"Bedroom","style":{"fill":"#ffefbf","label":true},"nodes":["18cc8e7f8249a95d","0c4fee6cdc849d14","f299bd06715f62d7","4bb8b6c4acf57b3b","c2fbb4a714a60d9d","d3a27608b316f305","efae63f64976756d","6d79d9c95638322d","27215e776ee17ac5","981997bad3fc2305","576ab78d77862923","b62ab3f1b396b9ce","e6a8adc8dbd23615","53ed0622dff18d0b","719e571efab45237","1bea2f11f10f1a88","42e3e6e8ac318929","2b28eee881c0ee6e","20b753af28f3ed9a","f2337016ba852001","66c93f042608ef7b","b4f13294fc4d032b"],"x":14,"y":3759,"w":1092,"h":862},{"id":"da1879e44e78cd5b","type":"group","z":"c545265afe591227","name":"Bathroom","style":{"fill":"#ffefbf","label":true},"nodes":["1c6c0fc1c33ae762","31a94a64d08d94ca","2198fe1d21b6d75a","602c65c540d4d53d","51b8506a8509a02a","35f0ead64e63c85b","f12f1a962c2c6ac4","b7fd02b99f6f0333","579c29d8f96e22ee","8b9a219660644110","ab165cd3973bd788","bc5390dbde420fc8","2e8701b9fe5e2fd7","316f40c3ce469328","6e0cfa29440e12ba","b67a430b9d2410b2","9f4707f3335178ad","c7b7eaec3882d07a","1fb9ecb1676d2ef1","2d2bcaec8c7303ea","b99d48436b561eba","f48ed619c4dff4f2"],"x":14,"y":4659,"w":1092,"h":862},{"id":"b9518134963248f1","type":"group","z":"c545265afe591227","name":"Toilet","style":{"fill":"#ffefbf","label":true},"nodes":["df16b47b25446d90","5004fcef8af8dc88","ebeca52909f6fdf9","87c49cf4757ecd0d","5e72d34e564f91e3","8b652b5cbd1eb28e","b580b5f376dce34c","2f924fb554ad5d68","ed9af7d801916c15","10f58bd14ece36a3","e825f36da8ef26a5","83995feb3813af28","5301e5c564e06cca","7436b1e37ca8211b","05a65829aefb1edb","85ac3025eb669bda","4d2d2f75df2450cf","a0cb8454c5092393","f95645aa487dffb7","aa529fa10fd0a306","c28af31a8321b095","0874eccf8a64aa4f"],"x":14,"y":5559,"w":1092,"h":862},{"id":"8b834af5f5ced345","type":"server-state-changed","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Master Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":800,"wires":[["9f3f8d38d5fbe632"]]},{"id":"83b996cdcfbf7a73","type":"server-state-changed","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.living_room_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":860,"wires":[["9f3f8d38d5fbe632"]]},{"id":"62b68ac505d5d753","type":"server-state-changed","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Light Status Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.living_room_light_state"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":920,"wires":[["9f3f8d38d5fbe632"]]},{"id":"9f3f8d38d5fbe632","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.living_room_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":860,"wires":[["e1fac3f6cf857b77"]]},{"id":"e1fac3f6cf857b77","type":"switch","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sync","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"eq","v":"Watching TV","vt":"str"},{"t":"eq","v":"Movie Time","vt":"str"},{"t":"eq","v":"Gaming","vt":"str"},{"t":"eq","v":"Dining","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":510,"y":860,"wires":[["062fad71fa2efcce"],["daca3109528ee5fe"],["f93976c2419cd48f"],["72e7e320a71eb1c3"],["55a7208bdee4ecb3"],["b70cc11af22870e1"],["6d6f6af3171bbfdb"]]},{"id":"7043cd8703302d10","type":"switch","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Master Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Daytime","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Social","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":530,"y":360,"wires":[["56a0a55a9ac1f64b"],["8839a6db48773d86"],["903fc3bc0c53a970"],["65f79ca7e6750aad"],["daca3109528ee5fe"],["f93976c2419cd48f"],["f93976c2419cd48f"]]},{"id":"062fad71fa2efcce","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":360,"wires":[["7043cd8703302d10"]]},{"id":"72ef0fb047d310af","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_daytime"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":140,"wires":[["a2d163372d45a99e"]]},{"id":"56a0a55a9ac1f64b","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":140,"wires":[["72ef0fb047d310af"],["14dc9b67b6ec95d1"]]},{"id":"14dc9b67b6ec95d1","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Daytime - standby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_daytime_standby"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1030,"y":200,"wires":[[]]},{"id":"bf41d3e464800a13","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["living_room"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":900,"wires":[[]]},{"id":"a1a7b0b0d9307323","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Basic - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_basic"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":840,"wires":[["0b96dd8b8212a8ce"]]},{"id":"724ec6a6f343149d","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Evening - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_evening_on"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":280,"wires":[["5a191f6140fffee2"]]},{"id":"15f9dd5e7464016d","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Evening - standby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_evening_standby"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1030,"y":340,"wires":[[]]},{"id":"52645a07d4de3a4c","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Night - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_night_on"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1000,"y":420,"wires":[["383a710cc1a96c15"]]},{"id":"a8c0e4e454e6435a","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1000,"y":1100,"wires":[[]]},{"id":"86aafcd7c2ac0175","type":"server-state-changed","z":"c545265afe591227","g":"b4e037ae351379db","name":"Master Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2340,"wires":[["0a8afd71c0f87979"]]},{"id":"eed915db15a0a058","type":"server-state-changed","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.office_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2400,"wires":[["0a8afd71c0f87979"]]},{"id":"858171547462f9d5","type":"server-state-changed","z":"c545265afe591227","g":"b4e037ae351379db","name":"Light Status Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.office_light_state"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2460,"wires":[["0a8afd71c0f87979"]]},{"id":"0a8afd71c0f87979","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.office_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":2400,"wires":[["9ad9068764cc7921"]]},{"id":"9ad9068764cc7921","type":"switch","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sync","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"eq","v":"Focus Mode","vt":"str"},{"t":"eq","v":"Chilling","vt":"str"},{"t":"eq","v":"In a Meeting","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":510,"y":2400,"wires":[["afa3f4ccc5e29545"],["6a089b2695889750"],["6d87708bec12ea15"],["bd498647bae45711"],["2032b5f34608d507"],["8e229424611d01b8"]]},{"id":"32310c9bda919102","type":"switch","z":"c545265afe591227","g":"b4e037ae351379db","name":"Master Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Daytime","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Social","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":1900,"wires":[["a5afb9c0c00b9d9c"],["bcc114c59e54f6d2"],["5cfdd795e0efb596"],["2032b5f34608d507"],["6a089b2695889750"],["6d87708bec12ea15"]]},{"id":"afa3f4ccc5e29545","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":1900,"wires":[["32310c9bda919102"]]},{"id":"554e43979f606aa9","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.office_daytime_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":1680,"wires":[["452e4955576737e0"]]},{"id":"a5afb9c0c00b9d9c","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1680,"wires":[["554e43979f606aa9"],["fa8f2cf83deb724e"]]},{"id":"fa8f2cf83deb724e","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":1740,"wires":[[]]},{"id":"6d87708bec12ea15","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2300,"wires":[["0d97d7dcc65d86c7"],["beaedd1e851f1c5c"]]},{"id":"beaedd1e851f1c5c","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":2360,"wires":[[]]},{"id":"0d97d7dcc65d86c7","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Basic - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.office_desk_backlight","light.office_main_light","light.group_side_office"],"labelId":[],"data":"{\"kelvin\": 3000, \"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":2300,"wires":[[]]},{"id":"6a089b2695889750","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2140,"wires":[["62dc8ac081f7d251"],["ba91db026f3fdd6a"]]},{"id":"62dc8ac081f7d251","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Manual - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.office_desk_backlight","light.office_main_light","light.group_side_office"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":2140,"wires":[[]]},{"id":"ba91db026f3fdd6a","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":2200,"wires":[[]]},{"id":"bcc114c59e54f6d2","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1820,"wires":[["d5276084bedf8508"],["b2fb924d6a482748"]]},{"id":"d5276084bedf8508","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Evening - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.office_evening_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":1820,"wires":[["98babed7b3db5b0a"]]},{"id":"b2fb924d6a482748","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":1880,"wires":[[]]},{"id":"5cfdd795e0efb596","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1960,"wires":[["dc0a168ec0834290"],["64a5292dfb5baf02"]]},{"id":"dc0a168ec0834290","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Night - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.office_night_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1000,"y":1960,"wires":[[]]},{"id":"64a5292dfb5baf02","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":2020,"wires":[[]]},{"id":"bd498647bae45711","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2440,"wires":[["2b42e3ba7f9d4b25"],["19c7c35274ee9a10"]]},{"id":"2b42e3ba7f9d4b25","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Focus - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.office_focus_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":2440,"wires":[[]]},{"id":"19c7c35274ee9a10","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":2500,"wires":[["d80e409526cb72ee"]]},{"id":"2032b5f34608d507","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2580,"wires":[["ccb0f81d91e4b672"],["74cca055cf157e1a"]]},{"id":"74cca055cf157e1a","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":2640,"wires":[["d80e409526cb72ee"]]},{"id":"8e229424611d01b8","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2720,"wires":[["b0705131f8d45f38"],["47c6c87ec19ab497"]]},{"id":"47c6c87ec19ab497","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["office"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":2780,"wires":[["d80e409526cb72ee"]]},{"id":"ccb0f81d91e4b672","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Chilling - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.office_chilling"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":2580,"wires":[[]]},{"id":"b0705131f8d45f38","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"In a meeting - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.office_in_a_meeting"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1030,"y":2720,"wires":[[]]},{"id":"d80e409526cb72ee","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.office_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1380,"y":2660,"wires":[[]]},{"id":"8839a6db48773d86","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":280,"wires":[["724ec6a6f343149d"],["15f9dd5e7464016d"]]},{"id":"903fc3bc0c53a970","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":420,"wires":[["52645a07d4de3a4c"],["f8dde26e55e00bc2"]]},{"id":"daca3109528ee5fe","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":560,"wires":[["823ef2f305d6037b"],["812ebb3dc168516b"]]},{"id":"f93976c2419cd48f","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":840,"wires":[["a1a7b0b0d9307323"],["bf41d3e464800a13"]]},{"id":"72e7e320a71eb1c3","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1040,"wires":[["c0713225173b05f2"],["a8c0e4e454e6435a"]]},{"id":"55a7208bdee4ecb3","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1180,"wires":[["3517d7be63a8a153"],["54b52fa7068154a4"]]},{"id":"b70cc11af22870e1","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1320,"wires":[["b75aa9b5d377a3bd"],["e7ef7e92912d1e8d"]]},{"id":"823ef2f305d6037b","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Manual - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_main_light","light.living_room_side_light_lightbulb","light.group_wall_living_room"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":560,"wires":[[]]},{"id":"812ebb3dc168516b","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["living_room"],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":620,"wires":[[]]},{"id":"8532af5b296c5766","type":"server-state-changed","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Master Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":3560,"wires":[["51ebeb24a40d37da"]]},{"id":"bab285fc00a268f5","type":"server-state-changed","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.kitchen_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":3620,"wires":[["51ebeb24a40d37da"]]},{"id":"fde4f964cee02321","type":"server-state-changed","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Light Status Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.kitchen_light_state"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":3680,"wires":[["51ebeb24a40d37da"]]},{"id":"51ebeb24a40d37da","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.kitchen_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":3620,"wires":[["c0ca8cf8552d7b2a"]]},{"id":"c0ca8cf8552d7b2a","type":"switch","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sync","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"eq","v":"Cooking","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":3620,"wires":[["e6552d1f33cbcba9"],["1c222c014b31e6ed"],["d0d353a472f16971"],["d0d353a472f16971"]]},{"id":"a25c1bf8a0bfeb7a","type":"switch","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Master Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Daytime","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Social","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":3120,"wires":[["b2372cf004c32a0b"],["6ce12a1f514b6be3"],["2555abafa0d73998"],["6ce12a1f514b6be3"],["1c222c014b31e6ed"],["d0d353a472f16971"]]},{"id":"e6552d1f33cbcba9","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":3120,"wires":[["a25c1bf8a0bfeb7a"]]},{"id":"478ddf6b45c2531b","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_daytime_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":2900,"wires":[[]]},{"id":"b2372cf004c32a0b","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kitchen_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":2900,"wires":[["478ddf6b45c2531b"],["3520bf82ac1c4262"]]},{"id":"bd66c43a2940aac4","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["kitchen"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":3580,"wires":[[]]},{"id":"a879ed74392c65db","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["kitchen"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":3420,"wires":[[]]},{"id":"bea0b077fadb4c2c","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Evening - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_evening_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":3040,"wires":[[]]},{"id":"4a0bc38e81f16dab","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Night - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_night_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1000,"y":3180,"wires":[[]]},{"id":"6ce12a1f514b6be3","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kitchen_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":3040,"wires":[["bea0b077fadb4c2c"],["53c808ef63e8ede7"]]},{"id":"2555abafa0d73998","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kitchen_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":3180,"wires":[["4a0bc38e81f16dab"],["97a505af59fd26ce"]]},{"id":"1c222c014b31e6ed","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kitchen_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":3360,"wires":[["a67f676fd1ceef6d"],["a879ed74392c65db"]]},{"id":"d0d353a472f16971","type":"api-current-state","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kitchen_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":3520,"wires":[["3fec64cb368339ed"],["bd66c43a2940aac4"]]},{"id":"3520bf82ac1c4262","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Daytime - stadnby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_daytime_standby"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1030,"y":2960,"wires":[[]]},{"id":"53c808ef63e8ede7","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Evening - standby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_evening_standby"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1030,"y":3100,"wires":[[]]},{"id":"a67f676fd1ceef6d","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Manual - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.kitchen_floor_light","device_tracker.kitchen_hallway_light","light.kitchen_main_light","light.kitchen_side_light_lightbulb"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":3360,"wires":[[]]},{"id":"97a505af59fd26ce","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Night - standby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_night_standby"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1020,"y":3240,"wires":[[]]},{"id":"18cc8e7f8249a95d","type":"server-state-changed","z":"c545265afe591227","g":"984aa062e38adb74","name":"Master Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":4460,"wires":[["4bb8b6c4acf57b3b"]]},{"id":"0c4fee6cdc849d14","type":"server-state-changed","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.bedroom_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":4520,"wires":[["4bb8b6c4acf57b3b"]]},{"id":"f299bd06715f62d7","type":"server-state-changed","z":"c545265afe591227","g":"984aa062e38adb74","name":"Light Status Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.bedroom_light_state"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":4580,"wires":[["4bb8b6c4acf57b3b"]]},{"id":"4bb8b6c4acf57b3b","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bedroom_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":4520,"wires":[["c2fbb4a714a60d9d"]]},{"id":"c2fbb4a714a60d9d","type":"switch","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sync","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"eq","v":"Sleeping","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":4520,"wires":[["efae63f64976756d"],["576ab78d77862923"],["981997bad3fc2305"],["20b753af28f3ed9a"]]},{"id":"d3a27608b316f305","type":"switch","z":"c545265afe591227","g":"984aa062e38adb74","name":"Master Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Daytime","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Social","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":530,"y":4020,"wires":[["53ed0622dff18d0b"],["42e3e6e8ac318929"],["20b753af28f3ed9a"],["42e3e6e8ac318929"],["20b753af28f3ed9a"],["576ab78d77862923"],["981997bad3fc2305"]]},{"id":"efae63f64976756d","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":4020,"wires":[["d3a27608b316f305"]]},{"id":"6d79d9c95638322d","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bedroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":4480,"wires":[[]]},{"id":"27215e776ee17ac5","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Basic - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.bedroom_main_light","light.bedroom_boy_nightstand_light","light.bedroom_girl_nightstand_light"],"labelId":[],"data":"{\"kelvin\": 3000, \"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":4420,"wires":[[]]},{"id":"981997bad3fc2305","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bedroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":4420,"wires":[["27215e776ee17ac5"],["6d79d9c95638322d"]]},{"id":"576ab78d77862923","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bedroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":4300,"wires":[["b62ab3f1b396b9ce"],["e6a8adc8dbd23615"]]},{"id":"b62ab3f1b396b9ce","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Manual - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.bedroom_main_light","light.bedroom_boy_nightstand_light","light.bedroom_girl_nightstand_light"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":4300,"wires":[[]]},{"id":"e6a8adc8dbd23615","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bedroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":4360,"wires":[[]]},{"id":"53ed0622dff18d0b","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bedroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":3800,"wires":[["719e571efab45237"],["1bea2f11f10f1a88"]]},{"id":"719e571efab45237","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bedroom_daytime_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":3800,"wires":[[]]},{"id":"1bea2f11f10f1a88","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bedroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":3860,"wires":[[]]},{"id":"42e3e6e8ac318929","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bedroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":3940,"wires":[["66c93f042608ef7b"],["2b28eee881c0ee6e"]]},{"id":"2b28eee881c0ee6e","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bedroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":4000,"wires":[[]]},{"id":"20b753af28f3ed9a","type":"api-current-state","z":"c545265afe591227","g":"984aa062e38adb74","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bedroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":4060,"wires":[["b4f13294fc4d032b"],["f2337016ba852001"]]},{"id":"f2337016ba852001","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bedroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":4120,"wires":[[]]},{"id":"1c6c0fc1c33ae762","type":"server-state-changed","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Master Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":5360,"wires":[["602c65c540d4d53d"]]},{"id":"31a94a64d08d94ca","type":"server-state-changed","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.bathroom_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":5420,"wires":[["602c65c540d4d53d"]]},{"id":"2198fe1d21b6d75a","type":"server-state-changed","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Light Status Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.bathroom_light_state"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":5480,"wires":[["602c65c540d4d53d"]]},{"id":"602c65c540d4d53d","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bathroom_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":5420,"wires":[["51b8506a8509a02a"]]},{"id":"51b8506a8509a02a","type":"switch","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sync","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":5420,"wires":[["f12f1a962c2c6ac4"],["bc5390dbde420fc8"],["2e8701b9fe5e2fd7"],["2e8701b9fe5e2fd7"]]},{"id":"35f0ead64e63c85b","type":"switch","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Master Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Daytime","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Social","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":4920,"wires":[["b7fd02b99f6f0333"],["8b9a219660644110"],["ab165cd3973bd788"],["ab165cd3973bd788"],["bc5390dbde420fc8"],["2e8701b9fe5e2fd7"]]},{"id":"f12f1a962c2c6ac4","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":4920,"wires":[["35f0ead64e63c85b"]]},{"id":"b7fd02b99f6f0333","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bathroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":4700,"wires":[["2d2bcaec8c7303ea"],["579c29d8f96e22ee"]]},{"id":"579c29d8f96e22ee","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bathroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":4760,"wires":[[]]},{"id":"8b9a219660644110","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bathroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":4840,"wires":[["1fb9ecb1676d2ef1"],["316f40c3ce469328"]]},{"id":"ab165cd3973bd788","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bathroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":4960,"wires":[["b99d48436b561eba"],["6e0cfa29440e12ba"]]},{"id":"bc5390dbde420fc8","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bathroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":5200,"wires":[["b67a430b9d2410b2"],["9f4707f3335178ad"]]},{"id":"2e8701b9fe5e2fd7","type":"api-current-state","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bathroom_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":5320,"wires":[["f48ed619c4dff4f2"],["c7b7eaec3882d07a"]]},{"id":"316f40c3ce469328","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bathroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":4900,"wires":[[]]},{"id":"6e0cfa29440e12ba","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bathroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":5020,"wires":[[]]},{"id":"b67a430b9d2410b2","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Manual - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.bathroom_main_light","light.group_side_bathroom"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":5200,"wires":[[]]},{"id":"9f4707f3335178ad","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bathroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":5260,"wires":[[]]},{"id":"c7b7eaec3882d07a","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["bathroom"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":5380,"wires":[[]]},{"id":"df16b47b25446d90","type":"server-state-changed","z":"c545265afe591227","g":"b9518134963248f1","name":"Master Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":6260,"wires":[["87c49cf4757ecd0d"]]},{"id":"5004fcef8af8dc88","type":"server-state-changed","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Mode Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.bathroom_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":6320,"wires":[["87c49cf4757ecd0d"]]},{"id":"ebeca52909f6fdf9","type":"server-state-changed","z":"c545265afe591227","g":"b9518134963248f1","name":"Light Status Changed","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.toilet_light_state"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":6380,"wires":[["87c49cf4757ecd0d"]]},{"id":"87c49cf4757ecd0d","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bathroom_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":6320,"wires":[["5e72d34e564f91e3"]]},{"id":"5e72d34e564f91e3","type":"switch","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Sync","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Basic","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":6320,"wires":[["b580b5f376dce34c"],["5301e5c564e06cca"],["7436b1e37ca8211b"],["7436b1e37ca8211b"]]},{"id":"8b652b5cbd1eb28e","type":"switch","z":"c545265afe591227","g":"b9518134963248f1","name":"Master Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Daytime","vt":"str"},{"t":"eq","v":"Evening","vt":"str"},{"t":"eq","v":"Night","vt":"str"},{"t":"eq","v":"Social","vt":"str"},{"t":"eq","v":"Manual","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":530,"y":5820,"wires":[["2f924fb554ad5d68"],["e825f36da8ef26a5"],["83995feb3813af28"],["e825f36da8ef26a5"],["5301e5c564e06cca"],["7436b1e37ca8211b"]]},{"id":"b580b5f376dce34c","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":5820,"wires":[["8b652b5cbd1eb28e"]]},{"id":"2f924fb554ad5d68","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.toilet_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":5600,"wires":[["ed9af7d801916c15"],["10f58bd14ece36a3"]]},{"id":"ed9af7d801916c15","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.toilet_light"],"labelId":[],"data":"{\"kelvin\": 3000, \"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":5600,"wires":[[]]},{"id":"10f58bd14ece36a3","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["toilet"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":5660,"wires":[[]]},{"id":"e825f36da8ef26a5","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.toilet_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":5740,"wires":[["05a65829aefb1edb"],["85ac3025eb669bda"]]},{"id":"83995feb3813af28","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.toilet_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":5860,"wires":[["4d2d2f75df2450cf"],["a0cb8454c5092393"]]},{"id":"5301e5c564e06cca","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.toilet_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":6100,"wires":[["f95645aa487dffb7"],["aa529fa10fd0a306"]]},{"id":"7436b1e37ca8211b","type":"api-current-state","z":"c545265afe591227","g":"b9518134963248f1","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.toilet_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":6220,"wires":[["c28af31a8321b095"],["0874eccf8a64aa4f"]]},{"id":"05a65829aefb1edb","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Evening - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.toilet_light"],"labelId":[],"data":"{\"kelvin\": 2400, \"brightness_pct\": 20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":5740,"wires":[[]]},{"id":"85ac3025eb669bda","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["toilet"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":5800,"wires":[[]]},{"id":"4d2d2f75df2450cf","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Night - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.toilet_light"],"labelId":[],"data":"{\"rgb_color\": [255, 161, 0], \"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1000,"y":5860,"wires":[[]]},{"id":"a0cb8454c5092393","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["toilet"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":5920,"wires":[[]]},{"id":"f95645aa487dffb7","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Manual - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.toilet_light"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":6100,"wires":[[]]},{"id":"aa529fa10fd0a306","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["toilet"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":6160,"wires":[[]]},{"id":"c28af31a8321b095","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.toilet_light"],"labelId":[],"data":"{\"kelvin\": 3000, \"brightness_pct\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1010,"y":6220,"wires":[[]]},{"id":"0874eccf8a64aa4f","type":"api-call-service","z":"c545265afe591227","g":"b9518134963248f1","name":"Lights Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":["toilet"],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1000,"y":6280,"wires":[[]]},{"id":"4ea2922a7cb734eb","type":"catch","z":"c545265afe591227","name":"","scope":null,"uncaught":false,"x":70,"y":40,"wires":[["39f04101ae2f8e9c"]]},{"id":"39f04101ae2f8e9c","type":"debug","z":"c545265afe591227","name":"Light Settings Errors","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":400,"y":40,"wires":[]},{"id":"feb9c596e1280508","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Display ","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"LG HDR 4K (2)","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gabriel_s_macbook_pro_primary_display_name","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":1820,"wires":[["9d027bb674c162d0"],[]]},{"id":"9d027bb674c162d0","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Turn On Monitor Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.office_monitor_backlight"],"labelId":[],"data":"{\"brightness_pct\": 100, \"rgb_color\": [255, 123, 0]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1540,"y":1820,"wires":[[]]},{"id":"93411c21f907cbad","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Display ","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"LG HDR 4K (2)","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gabriel_s_macbook_pro_primary_display_name","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1340,"y":1680,"wires":[["2616b965bd8c9396"],[]]},{"id":"2616b965bd8c9396","type":"api-call-service","z":"c545265afe591227","g":"b4e037ae351379db","name":"Turn On Monitor Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.office_monitor_backlight"],"labelId":[],"data":"{\"brightness_pct\": 100, \"rgb_color\": [255, 0, 255]}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1540,"y":1680,"wires":[[]]},{"id":"f8dde26e55e00bc2","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Night - standby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_night_standby"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1020,"y":480,"wires":[[]]},{"id":"c0713225173b05f2","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Watching TV","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_watching_tv"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":1040,"wires":[["2cb777d52106521c"]]},{"id":"3517d7be63a8a153","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Movie Time","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_movie"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":1180,"wires":[["830579e2c159e7fb"]]},{"id":"54b52fa7068154a4","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1000,"y":1240,"wires":[[]]},{"id":"b75aa9b5d377a3bd","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Gaming","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_watching_tv_duplicate"],"labelId":[],"data":"{\"transition\": 1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1000,"y":1320,"wires":[["af46c0f3846b2bd6"]]},{"id":"e7ef7e92912d1e8d","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1000,"y":1380,"wires":[[]]},{"id":"6d6f6af3171bbfdb","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":1460,"wires":[["08ef8a8fc1ebb399"],["c36e08d3a09ba487"]]},{"id":"08ef8a8fc1ebb399","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Dining","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_dining"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":990,"y":1460,"wires":[["983cd9c4a3303205"]]},{"id":"c36e08d3a09ba487","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1000,"y":1520,"wires":[[]]},{"id":"a2d163372d45a99e","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":140,"wires":[["a8f30cf56f4cd0b5"],["dfe14a5e8ed80249"]]},{"id":"a8f30cf56f4cd0b5","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [255, 117, 0], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":120,"wires":[[]]},{"id":"dfe14a5e8ed80249","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":180,"wires":[[]]},{"id":"2a1ca26c5562d593","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [164, 255, 254], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":260,"wires":[[]]},{"id":"5a191f6140fffee2","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":280,"wires":[["2a1ca26c5562d593"],["657429d5ce7d3805"]]},{"id":"657429d5ce7d3805","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":320,"wires":[[]]},{"id":"9e9707b42acdc2c9","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [255, 115, 22], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":400,"wires":[[]]},{"id":"383a710cc1a96c15","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":420,"wires":[["9e9707b42acdc2c9"],["cdeb1888029ccdc6"]]},{"id":"cdeb1888029ccdc6","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":460,"wires":[[]]},{"id":"0b96dd8b8212a8ce","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":840,"wires":[["60fb4c4f4e227eee"],["25dea0e9115e1d7e"]]},{"id":"60fb4c4f4e227eee","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [255, 117, 0], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":820,"wires":[[]]},{"id":"25dea0e9115e1d7e","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":880,"wires":[[]]},{"id":"2cb777d52106521c","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":1040,"wires":[["23c7aee2c90ebe9b"],["3653ebb87aa8d139"]]},{"id":"23c7aee2c90ebe9b","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [255, 145, 61], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":1020,"wires":[[]]},{"id":"3653ebb87aa8d139","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":1080,"wires":[[]]},{"id":"830579e2c159e7fb","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":1180,"wires":[["8d4ed144e33516f9"],["ddbdcc2aab2dbdaa"]]},{"id":"8d4ed144e33516f9","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [66, 0, 66], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":1160,"wires":[[]]},{"id":"ddbdcc2aab2dbdaa","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":1220,"wires":[[]]},{"id":"af46c0f3846b2bd6","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":1320,"wires":[["fe52416934fdedc3"],["fbc17c3ba0c34b0c"]]},{"id":"fe52416934fdedc3","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [198, 164,255], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":1300,"wires":[[]]},{"id":"fbc17c3ba0c34b0c","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":1360,"wires":[[]]},{"id":"983cd9c4a3303205","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":1460,"wires":[["60f4defcc9f30190"],["5311fe28e3223a3e"]]},{"id":"60f4defcc9f30190","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [234, 142, 16], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":1440,"wires":[[]]},{"id":"5311fe28e3223a3e","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":1500,"wires":[[]]},{"id":"3fec64cb368339ed","type":"api-call-service","z":"c545265afe591227","g":"967ed8c311f41c6e","name":"Basic - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.kitchen_daytime_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":3520,"wires":[[]]},{"id":"66c93f042608ef7b","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Evening - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bedroom_evening_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":3940,"wires":[[]]},{"id":"b4f13294fc4d032b","type":"api-call-service","z":"c545265afe591227","g":"984aa062e38adb74","name":"Night - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bedroom_night_on"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1000,"y":4060,"wires":[[]]},{"id":"1fb9ecb1676d2ef1","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Evening - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bathroom_evening"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":4840,"wires":[[]]},{"id":"2d2bcaec8c7303ea","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Daytime - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bathroom_daytime"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":4700,"wires":[[]]},{"id":"b99d48436b561eba","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Night - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bathroom_night"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1000,"y":4960,"wires":[[]]},{"id":"f48ed619c4dff4f2","type":"api-call-service","z":"c545265afe591227","g":"da1879e44e78cd5b","name":"Basic - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.bathroom_daytime"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":5320,"wires":[[]]},{"id":"dd63800bda0f6312","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Social - on","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_social"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1010,"y":700,"wires":[["b1e9d9e15a4a3a70"]]},{"id":"65f79ca7e6750aad","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Room Switch State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_light_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":700,"wires":[["dd63800bda0f6312"],["40f92dcb129aa6d7"]]},{"id":"b1e9d9e15a4a3a70","type":"api-current-state","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV State","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":700,"wires":[["810a31b9ac98a947"],["2a2ae9f40db3129e"]]},{"id":"2a2ae9f40db3129e","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Off","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1450,"y":740,"wires":[[]]},{"id":"810a31b9ac98a947","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"TV Backlight","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_tv_backlight"],"labelId":[],"data":"{\"rgb_color\": [66, 0, 66], \"brightness_pct\": 100 }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1470,"y":680,"wires":[[]]},{"id":"40f92dcb129aa6d7","type":"api-call-service","z":"c545265afe591227","g":"42601b4a9b62e800","name":"Evening - standby","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_evening_standby"],"labelId":[],"data":"{\"transition\": 0.4}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1030,"y":760,"wires":[[]]},{"id":"98babed7b3db5b0a","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Mac Active","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gabriel_s_macbook_pro_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1190,"y":1820,"wires":[["feb9c596e1280508"],[]]},{"id":"452e4955576737e0","type":"api-current-state","z":"c545265afe591227","g":"b4e037ae351379db","name":"Mac Active","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gabriel_s_macbook_pro_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1190,"y":1680,"wires":[["93411c21f907cbad"],[]]},{"id":"dadbe65d.661898","type":"server","name":"Home Assistant","addon":true}]
