Node-red/Media_classifier
[{"id":"f30540e265edc9f6","type":"subflow","name":"Classifier State","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"786433390cb954c3"},{"id":"858d1b79dd0d3d8f"},{"id":"ca21ba6480cda354"}]}],"out":[{"x":720,"y":120,"wires":[{"id":"fd4712aa62a14ce9","port":0}]}],"env":[{"name":"room_mode","type":"str","value":""},{"name":"classifier","type":"str","value":""}],"meta":{},"color":"#DDAA99","status":{"x":220,"y":260,"wires":[{"id":"0b08598dad6fbdd9","port":0}]}},{"id":"858d1b79dd0d3d8f","type":"api-current-state","z":"f30540e265edc9f6","name":"Classifier","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"${classifier}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"lrClassifier","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":120,"wires":[[]]},{"id":"786433390cb954c3","type":"api-current-state","z":"f30540e265edc9f6","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":60,"wires":[["17046d4c96b255e7"]]},{"id":"ca21ba6480cda354","type":"api-current-state","z":"f30540e265edc9f6","name":"Room Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"${room_mode}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":180,"wires":[["17046d4c96b255e7"]]},{"id":"17046d4c96b255e7","type":"join","z":"f30540e265edc9f6","name":"Mode Array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":" - ","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":400,"y":120,"wires":[["fd4712aa62a14ce9"]]},{"id":"fd4712aa62a14ce9","type":"function","z":"f30540e265edc9f6","name":"Confirm Allowed","func":"const mode1 = msg.payload[0];\nconst mode2 = msg.payload[1];\nconst blocked = ['Basic', 'Manual'];\nconst classifier = flow.get('lrClassifier');\n\nif (blocked.includes(mode1) || blocked.includes(mode2) || classifier != 'on') {\n    node.status({ fill: \"orange\", shape: \"dot\", text: \"Blocked\" });\n    return [null, msg];\n}\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Allowed\" });\nreturn [msg, null];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":120,"wires":[[],[]],"outputLabels":["Allowed","Blocked"]},{"id":"0b08598dad6fbdd9","type":"status","z":"f30540e265edc9f6","name":"","scope":null,"x":80,"y":260,"wires":[[]]},{"id":"c4e82a7373a78b27","type":"comment","z":"0e1f81b5e99ab4cb","name":"Living Room Media Classifier","info":"","x":160,"y":40,"wires":[]},{"id":"81e808bc3564bc22","type":"server-state-changed","z":"0e1f81b5e99ab4cb","name":"Apple TV Change State","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["media_player.living_room_apple_tv"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":220,"wires":[["73adcdb8b2335207"]]},{"id":"33cce641205bed82","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Set Watching TV","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Watching TV\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1750,"y":300,"wires":[[]]},{"id":"f485c360dc2e1866","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Set Sync","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1360,"y":120,"wires":[[]]},{"id":"change_set_media_title","type":"change","z":"0e1f81b5e99ab4cb","name":"Set Media Variables","rules":[{"t":"set","p":"mediaType","pt":"flow","to":"data.attributes.media_content_type","tot":"msg"},{"t":"set","p":"mediaApp","pt":"flow","to":"data.attributes.app_name","tot":"msg"},{"t":"set","p":"mediaDuration","pt":"flow","to":"data.attributes.media_duration","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":220,"wires":[["f77dbb995b1f39bd"]]},{"id":"f77dbb995b1f39bd","type":"function","z":"0e1f81b5e99ab4cb","name":"Classify Content","func":"let type = flow.get('mediaType');\nlet duration = flow.get('mediaDuration');\nlet app = flow.get('mediaApp');\nconst watchingTvApps = ['yes', 'YouTube'];\n\nif (type != 'video') {\n    // Sync\n    node.status({fill:\"green\",shape:\"ring\",text: 'Sync'});\n    return [msg, null, null];\n} else if (duration === null || app === null) {\n    // Watching TV\n    node.status({ fill: \"green\", shape: \"ring\", text: 'Watching TV' });\n    return [null, null, msg];\n} else if (watchingTvApps.includes(app)) {\n    // Watching TV\n    node.status({ fill: \"green\", shape: \"ring\", text: 'Watching TV' });\n    return [null, null, msg];\n} else if (duration > 3600) {\n    // Movie Time\n    node.status({ fill: \"green\", shape: \"ring\", text: 'Movie Time' });\n    return [null, msg, null];\n} else {\n    // Watching TV\n    node.status({ fill: \"green\", shape: \"ring\", text: 'Watching TV' });\n    return [null, null, msg];\n}","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":220,"wires":[["f485c360dc2e1866","4bf1b93abb1e2215"],["776629b3fb9bf46a","ef41273bcd9bc80f"],["ced536829ae59925","b50d383d1a275f15"]],"outputLabels":["Sync","Movie Time","Watching TV"]},{"id":"b00b83e64cb4f764","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Set Gaming","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Gaming\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1370,"y":60,"wires":[[]]},{"id":"7a95d58589c0e29b","type":"server-state-changed","z":"0e1f81b5e99ab4cb","name":"TV Source Change","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["media_player.lg_qned91"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"data.new_state.attributes.source","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":120,"wires":[["0dc8102159c97e37"],["f485c360dc2e1866"]]},{"id":"6e9685cc377691b3","type":"function","z":"0e1f81b5e99ab4cb","name":"Source","func":"let source = msg.data.attributes.source;\n\nif (source === 'PS5 Game Console'){\n    return [null, msg];\n}\nelse {\n    return[msg, null];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":80,"wires":[["936dd9ffabb835f7"],["b00b83e64cb4f764"]],"outputLabels":["Apple TV","PS5"]},{"id":"936dd9ffabb835f7","type":"api-current-state","z":"0e1f81b5e99ab4cb","name":"Apple TV","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":220,"wires":[["change_set_media_title"]]},{"id":"73adcdb8b2335207","type":"subflow:f30540e265edc9f6","z":"0e1f81b5e99ab4cb","name":"","env":[{"name":"room_mode","value":"input_select.living_room_mode","type":"str"},{"name":"classifier","value":"input_boolean.living_room_media_classifier","type":"str"}],"x":340,"y":220,"wires":[["a04e18a2dabbf438"]]},{"id":"0dc8102159c97e37","type":"subflow:f30540e265edc9f6","z":"0e1f81b5e99ab4cb","name":"","env":[{"name":"room_mode","value":"input_select.living_room_mode","type":"str"},{"name":"classifier","value":"input_boolean.living_room_media_classifier","type":"str"}],"x":360,"y":80,"wires":[["cd2f4d58d567b687"]]},{"id":"ced536829ae59925","type":"api-current-state","z":"0e1f81b5e99ab4cb","name":"Apple TV","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":320,"wires":[["6872706a3837df96"],["2c5f5546b2a39d04"]]},{"id":"fceb260a652906c0","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Set Watching TV","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\":\"Watching TV\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1750,"y":360,"wires":[["f2798b0ee0e5c338"]]},{"id":"f2798b0ee0e5c338","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Increase brightness","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_main_light"],"labelId":[],"data":"{\"transition\": 3, \"brightness_pct\": 60}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1970,"y":360,"wires":[[]]},{"id":"7894018fedd526d5","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Set Movie Time","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\": \"Movie Time\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1740,"y":180,"wires":[[]]},{"id":"776629b3fb9bf46a","type":"api-current-state","z":"0e1f81b5e99ab4cb","name":"Apple TV","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.living_room_apple_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":220,"wires":[["042de18355a68022"],["d9fb9afaa4a84f0c"]]},{"id":"dc06f70e9d28a580","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Increase brightness","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.living_room_main_light"],"labelId":[],"data":"{\"transition\": 3, \"brightness_pct\": 40}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_on","x":1970,"y":240,"wires":[[]]},{"id":"5211d789e413e91a","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Set Movie Time","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.living_room_mode"],"labelId":[],"data":"{\"option\": \"Movie Time\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1740,"y":240,"wires":[["dc06f70e9d28a580"]]},{"id":"4bf1b93abb1e2215","type":"debug","z":"0e1f81b5e99ab4cb","name":"sync","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":280,"wires":[]},{"id":"ef41273bcd9bc80f","type":"debug","z":"0e1f81b5e99ab4cb","name":"movie","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":320,"wires":[]},{"id":"b50d383d1a275f15","type":"debug","z":"0e1f81b5e99ab4cb","name":"watching tv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":360,"wires":[]},{"id":"a04e18a2dabbf438","type":"trigger","z":"0e1f81b5e99ab4cb","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":540,"y":220,"wires":[["936dd9ffabb835f7"]]},{"id":"6872706a3837df96","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Watching TV","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_watching_tv"],"labelId":[],"data":"{\"transition\": 3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1550,"y":300,"wires":[["33cce641205bed82"]]},{"id":"2c5f5546b2a39d04","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Watching TV","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_watching_tv"],"labelId":[],"data":"{\"transition\": 3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1550,"y":360,"wires":[["fceb260a652906c0"]]},{"id":"042de18355a68022","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Movie Time","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_movie"],"labelId":[],"data":"{\"transition\": 3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1550,"y":180,"wires":[["7894018fedd526d5"]]},{"id":"d9fb9afaa4a84f0c","type":"api-call-service","z":"0e1f81b5e99ab4cb","name":"Movie Time","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.living_room_movie"],"labelId":[],"data":"{\"transition\": 3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1550,"y":240,"wires":[["5211d789e413e91a"]]},{"id":"381760f1ca84306e","type":"debug","z":"0e1f81b5e99ab4cb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":100,"wires":[]},{"id":"cd2f4d58d567b687","type":"api-current-state","z":"0e1f81b5e99ab4cb","name":"tv state","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.lg_qned91","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":80,"wires":[["6e9685cc377691b3","381760f1ca84306e"]]},{"id":"dadbe65d.661898","type":"server","name":"Home Assistant","addon":true}]
