Node-red/Mode_classifier
[{"id":"9e8128db1a940f46","type":"subflow","name":"Day, Evening or Night function","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"355fd84080daf493"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"490175c0a661a85f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":200,"y":160,"wires":[{"id":"97dc2cf77b5954f4","port":0}]}},{"id":"490175c0a661a85f","type":"function","z":"9e8128db1a940f46","name":"Day, Evening or Night function","func":"const sun = msg.payload;\nconst now = new Date();\nconst hour = now.getHours();\n\nif (sun === 'above_horizon'){\n    msg.payload = 'Daytime';\n} else if (hour >= 1 && hour < 8) {\n    // after 1 AM\n    msg.payload = 'Night';\n} else {\n    // before 1 AM\n    msg.payload = 'Evening';\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[[]]},{"id":"97dc2cf77b5954f4","type":"status","z":"9e8128db1a940f46","name":"","scope":null,"x":100,"y":160,"wires":[[]]},{"id":"355fd84080daf493","type":"api-current-state","z":"9e8128db1a940f46","name":"sun","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":80,"wires":[["490175c0a661a85f"]]},{"id":"475fd922a5edb27d","type":"subflow","name":"Main Master Mode Classifier","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"b3218b66196c77e1"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","status":{"x":220,"y":200,"wires":[{"id":"1dcec0cc162775ef","port":0}]}},{"id":"9296e9d8960dbbc5","type":"api-call-service","z":"475fd922a5edb27d","name":"Set Master Mode","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.master_mode"],"labelId":[],"data":"{\"option\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":1070,"y":60,"wires":[[]]},{"id":"1dcec0cc162775ef","type":"status","z":"475fd922a5edb27d","name":"","scope":null,"x":100,"y":200,"wires":[[]]},{"id":"296f3365b60e2f74","type":"switch","z":"475fd922a5edb27d","name":"Check Current Mode","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(Daytime|Evening|Night|Away)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":60,"wires":[["6b1f1379d21e2e60"]],"outputLabels":["Auto"]},{"id":"3b643c758fbd1ff0","type":"api-current-state","z":"475fd922a5edb27d","name":"Master Mode","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.master_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":60,"wires":[["296f3365b60e2f74"]]},{"id":"a2401e2628ee796a","type":"api-call-service","z":"475fd922a5edb27d","name":"Set Away","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.master_mode"],"labelId":[],"data":"{\"option\": \"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":380,"y":120,"wires":[[]]},{"id":"6b1f1379d21e2e60","type":"subflow:9e8128db1a940f46","z":"475fd922a5edb27d","name":"","x":830,"y":60,"wires":[["9296e9d8960dbbc5"]]},{"id":"83068cd3173630ec","type":"api-current-state","z":"475fd922a5edb27d","name":"people","server":"dadbe65d.661898","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.number_of_people_at_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":220,"wires":[[]]},{"id":"b3218b66196c77e1","type":"api-current-state","z":"475fd922a5edb27d","name":"Someone home","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"0","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.number_of_people_at_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":100,"wires":[["3b643c758fbd1ff0"],["a2401e2628ee796a"]]},{"id":"dadbe65d.661898","type":"server","name":"Home Assistant","addon":true},{"id":"5b407c3408495cdd","type":"tab","label":"Modes Classifier","disabled":false,"info":"","env":[]},{"id":"f8f65f13c57bdd50","type":"group","z":"5b407c3408495cdd","name":"Master Mode Selector","style":{"fill":"#dbcbe7","label":true},"nodes":["b8ecc88b2cc22743","17698299630c7e38","1a76708f8144b994","4b8aca2fe64778ae","30fb3bdf6636373f","13d0b100556edede","6aa8cf1a30ddee74","76bed1ed542599f1","c8432f19c9b291d3","4d55970457b2cc34","2de9a28d97d3c4e2","3a8630c0a3cf8842","1e89eb1bd0b1771f"],"x":34,"y":39,"w":952,"h":562},{"id":"7348e890aaf2cbf6","type":"group","z":"5b407c3408495cdd","name":"Master Mode Change Actions","style":{"fill":"#dbcbe7","label":true},"nodes":["f5a1ff9ff7d2133c","9c45e1ce88c72ea0","d214a1476b441bcf","b82923f34e6044f3","66dae71498580e8f","ada2f336e8c56acc","7d44dddb3194dab8","77d32cc166c37c28","875a70a355b9ac9d","73aea67610eca528","f29b59482a4b9bb3","e821f07391d79a4a","5eba31d61c314893","49d870b203b82f41","8c5b06ec562b5813","93b3fdcb4b03ff33","add18d083570e5c5","1fce29f1c0fe79eb","c5dc878122b6e4d3","f7979ae514378a3b"],"x":34,"y":639,"w":1612,"h":202},{"id":"b8ecc88b2cc22743","type":"cronplus","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Time of day trigger","outputField":"topic","timeZone":"Asia/Jerusalem","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"32.08167006367967 34.797134399414055","defaultLocationType":"fixed","outputs":1,"options":[{"name":"Sunrise","topic":"Daytime","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"32.08167006367967 34.797134399414055","offset":"5","solarType":"selected","solarEvents":"sunrise"},{"name":"Sunset","topic":"Evening","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"","offset":"5","solarType":"selected","solarEvents":"sunset"},{"name":"Night","topic":"Night","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 1 * * ? *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":170,"y":140,"wires":[["1a76708f8144b994"]]},{"id":"17698299630c7e38","type":"inject","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["1a76708f8144b994"]]},{"id":"1a76708f8144b994","type":"subflow:475fd922a5edb27d","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Main Master Mode Classifier","x":460,"y":140,"wires":[]},{"id":"4b8aca2fe64778ae","type":"server-state-changed","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"People home","server":"dadbe65d.661898","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.number_of_people_at_home"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"num","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":200,"wires":[["1a76708f8144b994"]]},{"id":"30fb3bdf6636373f","type":"server-state-changed","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Bedroom Door","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bedroom_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":340,"wires":[["13d0b100556edede"],[]]},{"id":"13d0b100556edede","type":"api-current-state","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"while sleep","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"Sleep","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bedroom_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":360,"wires":[["c8432f19c9b291d3"],[]]},{"id":"6aa8cf1a30ddee74","type":"server-state-changed","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Bedroom sleeping","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_select.bedroom_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"Sleep","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":560,"wires":[["76bed1ed542599f1"],[]]},{"id":"76bed1ed542599f1","type":"api-call-service","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Set Sleep","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.master_mode"],"labelId":[],"data":"{\"option\":\"Sleep\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":400,"y":560,"wires":[[]]},{"id":"c8432f19c9b291d3","type":"subflow:9e8128db1a940f46","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"","x":630,"y":360,"wires":[["4d55970457b2cc34"]]},{"id":"4d55970457b2cc34","type":"api-call-service","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Set Master Mode","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.master_mode"],"labelId":[],"data":"{\"option\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":870,"y":360,"wires":[[]]},{"id":"f5a1ff9ff7d2133c","type":"server-state-changed","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Away","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"Away","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":740,"wires":[["9c45e1ce88c72ea0","7d44dddb3194dab8"],[]]},{"id":"9c45e1ce88c72ea0","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn off all states","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.bathroom_light_state","input_boolean.bedroom_light_state","input_boolean.kitchen_light_state","input_boolean.living_room_light_state","input_boolean.office_light_state","input_boolean.toilet_light_state"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":410,"y":680,"wires":[["e821f07391d79a4a"]]},{"id":"d214a1476b441bcf","type":"server-state-changed","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Sleep","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"Sleep","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":680,"wires":[["9c45e1ce88c72ea0"],[]]},{"id":"b82923f34e6044f3","type":"server-state-changed","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Lights up","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_select.master_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"Lights Up","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":800,"wires":[["66dae71498580e8f"],[]]},{"id":"66dae71498580e8f","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn on all states","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.bathroom_light_state","input_boolean.bedroom_light_state","input_boolean.kitchen_light_state","input_boolean.living_room_light_state","input_boolean.office_light_state","input_boolean.toilet_light_state"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":410,"y":800,"wires":[["ada2f336e8c56acc"]]},{"id":"ada2f336e8c56acc","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Set Master Mode","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.master_mode"],"labelId":[],"data":"{\"option\": \"Basic\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":610,"y":800,"wires":[[]]},{"id":"7d44dddb3194dab8","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Sync rooms","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.bathroom_mode","input_select.bedroom_mode","input_select.kitchen_mode","input_select.living_room_mode","input_select.office_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":390,"y":740,"wires":[["f29b59482a4b9bb3"]]},{"id":"77d32cc166c37c28","type":"switch","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"(Daytime|Night)","vt":"str","case":false},{"t":"eq","v":"Evening","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":740,"wires":[["e821f07391d79a4a"],["add18d083570e5c5"]]},{"id":"875a70a355b9ac9d","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn off all lights","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["all"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1040,"y":680,"wires":[["5eba31d61c314893"]]},{"id":"73aea67610eca528","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn on Away Evening lights","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"scene.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["scene.home_away_evening"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"scene","service":"turn_on","x":1500,"y":800,"wires":[[]]},{"id":"f29b59482a4b9bb3","type":"subflow:9e8128db1a940f46","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"","x":610,"y":740,"wires":[["77d32cc166c37c28"]]},{"id":"e821f07391d79a4a","type":"delay","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":925,"y":680,"wires":[["875a70a355b9ac9d"]],"l":false},{"id":"5eba31d61c314893","type":"delay","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1165,"y":680,"wires":[["8c5b06ec562b5813"]],"l":false},{"id":"49d870b203b82f41","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn off all lights","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["all"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1460,"y":680,"wires":[[]]},{"id":"8c5b06ec562b5813","type":"api-current-state","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Lights still on","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.lights_on_counter","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1290,"y":680,"wires":[["49d870b203b82f41"],[]]},{"id":"2de9a28d97d3c4e2","type":"server-state-changed","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Bathroom Door","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bathroom_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":400,"wires":[["13d0b100556edede"],[]]},{"id":"3a8630c0a3cf8842","type":"server-state-changed","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Toilet Door","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.toilet_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":460,"wires":[["13d0b100556edede"],[]]},{"id":"1e89eb1bd0b1771f","type":"server-state-changed","z":"5b407c3408495cdd","g":"f8f65f13c57bdd50","name":"Entrance Door","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.entrance_door_sensor_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":280,"wires":[["13d0b100556edede"],[]]},{"id":"93b3fdcb4b03ff33","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn off all lights","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["all"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1040,"y":740,"wires":[["1fce29f1c0fe79eb"]]},{"id":"add18d083570e5c5","type":"delay","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":925,"y":740,"wires":[["93b3fdcb4b03ff33"]],"l":false},{"id":"1fce29f1c0fe79eb","type":"delay","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1165,"y":740,"wires":[["f7979ae514378a3b"]],"l":false},{"id":"c5dc878122b6e4d3","type":"api-call-service","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Turn off all lights","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["all"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1460,"y":740,"wires":[["73aea67610eca528"]]},{"id":"f7979ae514378a3b","type":"api-current-state","z":"5b407c3408495cdd","g":"7348e890aaf2cbf6","name":"Lights still on","server":"dadbe65d.661898","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.lights_on_counter","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1290,"y":740,"wires":[["c5dc878122b6e4d3"],["73aea67610eca528"]]},{"id":"d29279d7e736f008","type":"server-state-changed","z":"5b407c3408495cdd","name":"No one sleep","server":"dadbe65d.661898","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.number_of_people_sleeping"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"0","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":940,"wires":[["d181d5baa124bd45"],[]]},{"id":"d181d5baa124bd45","type":"api-call-service","z":"5b407c3408495cdd","name":"Sync rooms","server":"dadbe65d.661898","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.bedroom_mode"],"labelId":[],"data":"{\"option\":\"Sync\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":390,"y":940,"wires":[[]]}]
